html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.main-container {
  height: 90%;
  width: 90%;
  position: absolute;
  left: 5%;
  top: 5%;
  background-image: url(/Assets/backgroundImg.png);
  background-size: cover;
  overflow: hidden;
}
.monkey {
  height: 30%;
  width: 15%;
  position: absolute;
  left: 85%;
  animation: monkey-jumping 4s forwards 1s;
}
/* .main-container:hover .monkey {
  transform: translateY(100%);
} */
.lion {
  height: 40%;
  width: 20%;
  position: absolute;
  top: 45%;
  left: 30%;
}
/* .lion:hover {
  height: 50%;
  width: 30%;
} */
.giraffe {
  height: 100%;
  width: 70%;
  position: absolute;
}
.tree {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0%;
  left: 0%;
}
.palm-leaves {
  position: absolute;
  top: 0%;
  left: 60%;
}
.elephant {
  position: absolute;
  top: 20%;
  height: 70%;
  width: 40%;
}
.leaves-border {
  position: absolute;
  height: 100%;
  width: 100%;
}
.koala {
  position: absolute;
  height: 40%;
  width: 50%;
}
.snake {
  position: absolute;
  bottom: -5%;
  left: 15%;
  height: 30%;
  width: 70%;
}
.landscape {
  position: absolute;
  width: 100%;
  height: 100%;
  /* opacity: 10%; */
  animation-name: landscape-dissappear;
  animation-duration: 4s;
}
@keyframes landscape-dissappear {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
.jungle {
  height: 60%;
  width: 100%;
  position: absolute;
  top: 20%;
  opacity: 0%;
  animation-name: jungle-text;
  animation-duration: 5s;
}
@keyframes jungle-text {
  from {
    opacity: 100%;
  }

  /* 50% {
    opacity: 100%;
  } */
  to {
    opacity: 0%;
  }
}
/*@keyframes monkey-jumping {
  0% {
    transform: translateY(0);
  }
  /* 33% {
    transform: translateX(10%);
  } */
/* 60% {
    transform: translateX(-80%) translateY(150%);
  } */
/* 80% {
    transform: translateY(80%);
  } 
  100% {
    transform: translateX(-180%) translateY(230%);
  }
}*/
