html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.main-container {
  height: 90%;
  width: 90%;
  /* background-color: black; */
  position: absolute;
  left: 5%;
  top: 5%;
  /* background: transparent; */
  background-image: url(/Assets/backgroundImg.png);
  background-size: cover;
  overflow: hidden;
}
.monkey {
  height: 30%;
  width: 15%;
  position: absolute;
  left: 85%;
  animation: monkey-jumping 4s forwards 1s;
}
/* .main-container:hover .monkey {
  transform: translateY(100%);
} */
.lion {
  height: 40%;
  width: 20%;
  position: absolute;
  top: 45%;
  left: 30%;
}
.lion:hover {
  height: 50%;
  width: 30%;
}
.tree {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0%;
  left: 10%;
}
.palm-leaves{
  position:absolute;
  top:0%;
  left:60%;
}
/* .main-container:hover .tree {
  position: relative;
  top: 0%;
  left: 0%;
} */
@keyframes monkey-jumping {
  0% {
    transform: translateY(0);
  }
  /* 33% {
    transform: translateX(10%);
  } */
  /* 60% {
    transform: translateX(-80%) translateY(150%);
  } */
  /* 80% {
    transform: translateY(80%);
  } */
  100% {
    transform: translateX(-180%) translateY(230%);
  }
}
