html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.main-container {
  height: 90%;
  width: 90%;
  position: absolute;
  left: 5%;
  top: 5%;
  background-image: url(/Assets/backgroundImg.png);
  background-size: cover;
  overflow: hidden;
}
.monkey {
  height: 30%;
  width: 15%;
  position: absolute;
  left: 85%;
  animation: monkey-jumping 4s forwards 1s;
}
/* .main-container:hover .monkey {
  transform: translateY(100%);
} */
.lion {
  height: 40%;
  width: 20%;
  position: absolute;
  top: 45%;
  left: 30%;
}
/* .lion:hover {
  height: 50%;
  width: 30%;
} */
.giraffe {
  height: 100%;
  width: 70%;
  position: absolute;
}
.tree {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0%;
  left: 0%;
}
.palm-leaves {
  position: absolute;
  top: 0%;
  left: 70%;
  animation-name: palm-leaves-moving;
  animation-duration: 10s;
  animation-delay: 2s;
}
@keyframes palm-leaves-moving {
  0% {
    top: 0%;
    left: 70%;
  }
  20% {
    top: -5%;
    left: 60%;
  }
  40% {
    top: 0%;
    left: 65%;
  }
  60% {
    top: 0%;
    left: 75%;
  }
  80% {
    top: -10%;
    left: 68%;
  }
  100% {
    top: -15%;
    left: 80%;
  }
}
.elephant {
  position: absolute;
  top: 30%;
  left: 30%;
  height: 60%;
  width: 40%;
  animation-name: elephant-walking;
  animation-duration: 20s;
  animation-delay: 1s;
}
@keyframes elephant-walking {
  0% {
    top: 30%;
    left: 30%;
  }
  25% {
    height: 62%;
    width: 41%;
  }
  50% {
    height: 64%;
    width: 42%;
  }
  75% {
    height: 67%;
    width: 44%;
  }
  100% {
    height: 70%;
    width: 45%;
    top: 100%;
    left: 100%;
  }
}
.leaves-border {
  position: absolute;
  height: 100%;
  width: 100%;
  animation-name: leaves;
  animation-duration: 3s;
  animation-delay: 4s;
}
@keyframes leaves {
  from {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  to {
    height: 150%;
    width: 150%;
    top: -30%;
    left: -30%;
  }
}
.koala {
  position: absolute;
  top: -13%;
  left: -10%;
  height: 40%;
  width: 50%;
  animation-name: koala-disappear;
  animation-duration: 3s;
  animation-delay: 3s;
}
@keyframes koala-disappear {
  0% {
    top: -10%;
  }
  50% {
    top: 5%;
  }
  100% {
    top: -30%;
  }
}
.snake {
  position: absolute;
  bottom: -5%;
  left: 15%;
  height: 30%;
  width: 70%;
  animation-name: snake-disappear;
  animation-duration: 5s;
  animation-delay: 2s;
}
@keyframes snake-disappear {
  from {
    width: 70%;
    bottom: -5%;
  }
  to {
    width: 90%;

    height: 35%;
    bottom: -25%;
  }
}
.landscape {
  position: absolute;
  width: 100%;
  height: 100%;
  /* opacity: 10%; */
  /* animation-name: landscape-disappear; */
  /* animation-duration: 5s; */
  /* animation-fill-mode: forwards; */
  animation: landscape-disappear 7s linear;
}
@keyframes landscape-disappear {
  0% {
    opacity: 100%;
  }
  /* /* 50% {
    opacity: 50%;
  } 
  50% {
    opacity: 0;
    /* visibility: hidden; 
  } */
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.jungle {
  height: 60%;
  width: 100%;
  position: absolute;
  top: 20%;
  opacity: 0%;
  animation-name: jungle-text;
  animation-duration: 5s;
}
@keyframes jungle-text {
  0% {
    opacity: 100%;
  }

  /* 50% {
    opacity: 100%;
  } */
  100% {
    opacity: 0%;
  }
}
/*@keyframes monkey-jumping {
  0% {
    transform: translateY(0);
  }
  /* 33% {
    transform: translateX(10%);
  } */
/* 60% {
    transform: translateX(-80%) translateY(150%);
  } */
/* 80% {
    transform: translateY(80%);
  } 
  100% {
    transform: translateX(-180%) translateY(230%);
  }
}*/
