html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.main-container {
  height: 90%;
  width: 90%;
  /* background-color: black; */
  position: relative;
  left: 5%;
  top: 5%;
  /* background: transparent; */
  background-image: url(/Assets/backgroundImg.png);
  background-size: cover;
}
.image1 {
  height: 40%;
  width: 20%;
  position: relative;
  top: 50%;
  left: 70%;
}
