html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.main-container {
  height: 90%;
  width: 90%;
  position: absolute;
  left: 5%;
  top: 5%;
  background-image: url(/Assets/backgroundImg.png);
  background-size: cover;
  overflow: hidden;
}
.monkey {
  height: 30%;
  width: 15%;
  position: absolute;
  left: 90%;
  animation: monkey-jumping 8s both 3s;
}
@keyframes monkey-jumping {
  0% {
    top: 0%;
    left: 90%;
  }
  30% {
    top: 80%;
    left: 40%;
  }
  60% {
    top: 10%;
    left: 20%;
  }
  100% {
    top: 90%;
    left: 0%;
  }
}

.lion {
  height: 40%;
  width: 20%;
  position: absolute;
  top: 40%;
  left: 33%;
  animation: king-lion 10s infinite 6s;
}

@keyframes king-lion {
  0% {
    height: 40%;
    width: 20%;
  }

  100% {
    height: 60%;
    width: 35%;
  }
}
.giraffe {
  height: 100%;
  width: 70%;
  position: absolute;
  left: 95%;
  top: 40%;
  animation: giraffe-moving 12s 4s;
}
@keyframes giraffe-moving {
  0% {
    left: 95%;
    top: 40%;
  }
  100% {
    left: -40%;
    top: 10%;
  }
}
.tree {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0%;
  left: 10%;
}
.palm-leaves {
  position: absolute;
  top: 0%;
  left: 70%;
  animation: palm-leaves-moving 10s infinite 2s;
}
@keyframes palm-leaves-moving {
  0% {
    top: 0%;
    left: 70%;
  }
  20% {
    top: -5%;
    left: 60%;
  }
  40% {
    top: 0%;
    left: 65%;
  }
  60% {
    top: 0%;
    left: 75%;
  }
  80% {
    top: -10%;
    left: 68%;
  }
  100% {
    top: -15%;
    left: 80%;
  }
}
.elephant {
  position: absolute;
  top: 30%;
  left: 30%;
  height: 60%;
  width: 40%;
  animation: elephant-walking 20s forwards 1s;
}
@keyframes elephant-walking {
  0% {
    top: 30%;
    left: 30%;
  }
  25% {
    height: 62%;
    width: 41%;
  }
  50% {
    height: 64%;
    width: 42%;
  }
  75% {
    height: 67%;
    width: 44%;
  }
  100% {
    height: 70%;
    width: 45%;
    top: 100%;
    left: 100%;
  }
}
.leaves-border {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: leaves 4s forwards 4s;
}
@keyframes leaves {
  0% {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  100% {
    height: 150%;
    width: 150%;
    top: -30%;
    left: -30%;
  }
}
.koala {
  position: absolute;
  top: -13%;
  left: -10%;
  height: 40%;
  width: 50%;
  animation: koala-disappear 4s infinite 3s;
}
@keyframes koala-disappear {
  0% {
    top: -10%;
  }
  50% {
    top: 5%;
  }
  100% {
    top: -30%;
  }
}
.snake {
  position: absolute;
  bottom: -5%;
  left: 15%;
  height: 30%;
  width: 70%;
  animation: snake-disappear 10s forwards 2s;
}
@keyframes snake-disappear {
  from {
    width: 70%;
    bottom: -5%;
  }
  to {
    width: 90%;

    height: 35%;
    bottom: -25%;
  }
}
.landscape {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: landscape-disappear 15s forwards;
}

@keyframes landscape-disappear {
  0% {
    height: 100%;
    width: 100%;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.jungle {
  height: 60%;
  width: 100%;
  position: absolute;
  top: 20%;
  opacity: 0%;
  animation: jungle-text 4s;
}
@keyframes jungle-text {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
