html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.main-container {
  height: 90%;
  width: 90%;
  /* background-color: black; */
  position: absolute;
  left: 5%;
  top: 5%;
  /* background: transparent; */
  background-image: url(/Assets/backgroundImg.png);
  background-size: cover;
}
/* .monkey-container {
  height: 25%;
  width: 15%;
  position: relative;
  top: 70%;
  left: 70%;
  /* background-color: white; 
} */
.monkey {
  height: 10%;
  width: 10%;
  position: relative;
  top: 0;
  left: 80%;
  animation-name: monkey-jumping;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  /* animation-delay: 0s; */
}
.lion {
  height: 40%;
  width: 20%;
  position: relative;
  top: 25%;
  left: 28%;
  transition: height 3s, width 2s;
  /* perspective: 1em; */
}
.lion:hover {
  height: 50%;
  width: 30%;
}
@keyframes monkey-jumping {
  
}
