html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.main-container {
  height: 90%;
  width: 90%;
  /* background-color: black; */
  position: absolute;
  left: 5%;
  top: 5%;
  /* background: transparent; */
  background-image: url(/Assets/backgroundImg.png);
  background-size: cover;
}
.monkey-container {
  height: 25%;
  width: 15%;
  position: relative;
  top: 70%;
  left: 70%;
  /* background-color: white; */
}
.monkey {
  height: 60%;
  width: 50%;
  position: relative;
  top: 0;
  left: 50%;
  animation-name: monkey-jumping;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  /* animation-delay: 0s; */
}
.lion {
  height: 50%;
  width: 30%;
  position: relative;
  top: 25%;
  left: 28%;
  /* perspective: 1em; */
}
@keyframes monkey-jumping {
  0% {
    top: 0;
    /* left: 30%; */
  }
  50% {
    top: 45%;
    left: 40%;
  }

  100% {
    top: 0;
    /* left: 0; */
  }
}
